@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}    

.header {
    background-color: #222;
    padding: 25px 100px;
    font-weight: 600;
}

main {
    margin: 20px 100px;
    width: 50%;
    float: left;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .user {
    box-shadow: 0 0 6px #3e8fa0;
    margin-bottom: 20px;
    background-color: #3e8fa0;
    padding: 20px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #222;
  }

  main .user .post {
    box-shadow: 0 0 5px #000;
    background-color: #222;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Reg {
    box-shadow: 0 0 6px #3e8fa0;
    margin-top: -30px;
    background-color: #3e8fa0;
    padding: 20px;
    border: none;
    border-radius: 5px;
  }

  .Reg1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .Regist {
    margin: 10px 10px 10px 0px;
  }

  main .user .post .post_title {
    font-weight: 600;
    font-size:x-large;
    margin-bottom: 20px;
  }

  main .user .username {
    padding-bottom: 10px;
  }